{{- if .Values.serviceAccount.role }}
{{- $app_name := include "main.app_name" . }}
{{- $roleName := default $app_name .Values.serviceAccount.role.name }}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{$roleName}}
rules:
{{ .Values.serviceAccount.role.rules | toYaml }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{(include "app_name")}}
subjects:
- kind: ServiceAccount
  name: {{(include "app_name")}}
roleRef:
  kind: Role
  name: {{$roleName}}
  apiGroup: rbac.authorization.k8s.io 
{{- end -}}