{{- $app_name := include "main.app_name" . }}
{{- $hasUdp := false}}
{{- range $port := .Values.service.ports }}
{{- if eq (upper $port.protocol) "UDP"}}{{$hasUdp = true}}{{ end }}
{{- end }}
{{- if and (.Values.service.enabled) ($hasUdp) }}
kind: Service
apiVersion: v1
metadata:
  name:  {{ $app_name }}-udp
spec:
  selector:
    app: {{ $app_name }}
  type:  {{.Values.service.type}}
  {{- if and (eq .Values.service.type "LoadBalancer") (.Values.service.loadBalancerIP) }}
  loadBalancerIP: {{.Values.service.loadBalancerIP}}
  {{- end }}
  ports:
  {{- if eq (upper .Values.service.protocol) "UDP" }}
  - port:  {{ .Values.port }}
    targetPort:  {{ .Values.port }}
    protocol: {{.Values.service.protocol}}
  {{- end }}
  {{- range $port := .Values.service.ports }}
  {{- if eq (upper $port.protocol) "UDP" }}
  - port: {{ $port.port }}
    targetPort: {{ $port.port }}
    protocol: UDP
  {{- if $port.nodePort }}
    nodePort: {{ $port.nodePort }}
  {{- end }}
  {{- end }}
  {{- end }}
{{- end }}