{{- $app_name := include "main.app_name" . }}
{{- if and .Values.service.enabled (eq (upper .Values.service.protocol) "TCP") }}
kind: Service
apiVersion: v1
metadata:
  name:  {{ $app_name }}
spec:
  selector:
    app: {{ $app_name }}
  type:  {{.Values.service.type}}
  {{- if and (eq .Values.service.type "LoadBalancer") (.Values.service.loadBalancerIP) }}
  loadBalancerIP: {{.Values.service.loadBalancerIP}}
  {{- end }}
  ports:
  - port:  {{ .Values.port }}
    targetPort:  {{ .Values.port }}
    protocol: {{.Values.service.protocol}}
  {{- range $port := .Values.service.ports }}
  {{- if eq (upper $port.protocol) "TCP" }}
  - port: {{ $port.port }}
    targetPort: {{ $port.port }}
    protocol: TCP
  {{- if $port.nodePort }}
    nodePort: {{ $port.nodePort }}
  {{- end }}
  {{- end }}
  {{- end }}
{{- end }}